@use "../variables" as *;
@use "../mixins" as *;

.contact {
  padding: 50px 0;
  text-align: center;

  form {
    max-width: 500px;
    margin: 0 auto;
  }

  label {
    display: block;
    text-align: left;
    font-weight: bold;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: border 0.3s ease;

    &:focus {
      border-color: $primary-color;
      outline: none;
      box-shadow: 0 0 5px rgba(0, 77, 64, 0.5);
    }
  }

  .submit-btn {
    @include button-style();
  }
}

.typeform-btn, .subscribe-btn {
    padding: 12px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  
    &:hover {
      background: #0056b3;
      transform: scale(1.05);
    }
  }
  